<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}

        	<h1>Hello from France!</h1>
        	<p>It's currently {{"now" | date("H:i", 'Europe/Paris')}} in France</p>

        	<hr>

        	<p>&copy; Copyright 2019 - {{"now" | date('Y')}}</p>



        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
